<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New employment</h1>
  <%= turbo_frame_tag "modal" do %>
    <%= tag.div data: {controller: "turbo-modal", action: "turbo:submit-end->turbo-modal#submitEnd"} do %>
      <%= render "form", employment: @employment %>
    <%end%>
  <%end%>
  <%= link_to 'Back to employments', employments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
